/* Variables from Sketchy theme */
@import "variables";

/* make the customizations */
// @import "colors";

/* import bootstrap to set changes */
@import "/home/riste/Dev/react/php-json-api-test-app/node_modules/bootstrap/scss/bootstrap.scss";

@import "bootswatch";
