/* make the customizations */
//@import "darkColors";

/* Variables from Sketchy theme */
@import "variables";

/* import bootstrap to set changes */
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "bootswatch";


// @import-normalize;

.form-control {
  transform: skewX(-8deg);
}

.pagination {
  transform: skewX(-8deg);
}

.btn {
  transform: skewX(-8deg);
}